body{
	margin: 0;
	margin-bottom: 100px;
	margin-top: 20px;
	padding: 0;
	background: url(back2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
a{
	font-weight: bold;
	font-style: italic;
	font-size: 18px ;
}
h1,h2{
	font-style: !important;
	font-weight: bold;
	text-align: center;
}
p{
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}
img{
	margin-left: 500px;
}